<footer>
    <div class="container">
        <div>
            <small>
                &copy; 2022 LEGO Building Club -
                <em>The Punjab university</em>
            </small>
        </div>
        <div>
            <div>
                <small>
                    Made by
                    <a  href="mailto:haydermoeez@gmail.com">
                        Moeez Hayder
                    </a>
                </small>
            </div>
            <div>
                <small> Web Development Fundamentals Project </small>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
