<header>
    <div class="container">
        <h1>CIT LEGO Building Club</h1>
        <p>
            The CIT LEGO Building Club's website. Join today and start
            building LEGOs with us!
        </p>
        <nav>
            <a href="/index" class="active">Home</a>
            <a href="/events">Events and Schedules</a>
            <a href="/membership">Membership Information</a>
            <a href="/contact-us">Contact Us</a>
        </nav>
    </div>
</header>