<nav class="nav nav_top">
    <div class="logo">
        <a href="/index"><img src="./images/logo.png" width="250"></a>
    </div>
    <div class="nav_side">
        <a href="/about">ABOUT US</a>
        <a href="/summer">SUMMER SALE</a>
        <a href="/catering">CATERING</a>
        <a href="/contact">CONTACT</a>
    </div>
</nav>