<%- include('./include/head.ejs') %>
<%- include('./include/header.ejs')%>

		<main>
			<h2>Events and Schedules</h2>

			<p>
				We are running events each week. You are welcome to join any of
				them if you'd like. Due to the guidelines regarding COVID-19 we
				cannot run events that are in person. All events are scheduled
				to take place online until further notice.
			</p>

			<p>List of upcoming events:</p>
			<table>
				<thead>
					<tr>
						<th>Event</th>
						<th>Day</th>
						<th>Time</th>
						<th>Location</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Swapping of LEGO Minifigures</td>
						<td>Monday</td>
						<td>17:00</td>
						<td>WhatsApp</td>
					</tr>
					<tr>
						<td>Big builds</td>
						<td>Tuesday</td>
						<td>18:00</td>
						<td>
							<a href="http://www.zoom.com" target="_blank">
								Zoom
							</a>
						</td>
					</tr>
					<tr>
						<td>Speed builds</td>
						<td>Thursday</td>
						<td>18:00</td>
						<td>
							<a href="http://www.zoom.com" target="_blank">
								Zoom
							</a>
						</td>
					</tr>
					<tr>
						<td>Swapping of LEGO Minifigures</td>
						<td>Saturday</td>
						<td>17:00</td>
						<td>WhatsApp</td>
					</tr>
					<tr>
						<td>Swapping of LEGO Minifigures</td>
						<td>Monday</td>
						<td>17:00</td>
						<td>WhatsApp</td>
					</tr>
					<tr>
						<td>Big builds</td>
						<td>Tuesday</td>
						<td>18:00</td>
						<td>
							<a href="http://www.zoom.com" target="_blank">
								Zoom
							</a>
						</td>
					</tr>
					<tr>
						<td>Speed builds</td>
						<td>Thursday</td>
						<td>18:00</td>
						<td>
							<a href="http://www.zoom.com" target="_blank">
								Zoom
							</a>
						</td>
					</tr>
					<tr>
						<td>Swapping of LEGO Minifigures</td>
						<td>Saturday</td>
						<td>17:00</td>
						<td>WhatsApp</td>
					</tr>
					<tr>
						<td>Swapping of LEGO Minifigures</td>
						<td>Monday</td>
						<td>17:00</td>
						<td>WhatsApp</td>
					</tr>
					<tr>
						<td>Big builds</td>
						<td>Tuesday</td>
						<td>18:00</td>
						<td>
							<a href="http://www.zoom.com" target="_blank">
								Zoom
							</a>
						</td>
					</tr>
					<tr>
						<td>Speed builds</td>
						<td>Thursday</td>
						<td>18:00</td>
						<td>
							<a href="http://www.zoom.com" target="_blank">
								Zoom
							</a>
						</td>
					</tr>
					<tr>
						<td>Swapping of LEGO Minifigures</td>
						<td>Saturday</td>
						<td>17:00</td>
						<td>WhatsApp</td>
					</tr>
					<tr>
						<td>Swapping of LEGO Minifigures</td>
						<td>Monday</td>
						<td>17:00</td>
						<td>WhatsApp</td>
					</tr>
					<tr>
						<td>Big builds</td>
						<td>Tuesday</td>
						<td>18:00</td>
						<td>
							<a href="http://www.zoom.com" target="_blank">
								Zoom
							</a>
						</td>
					</tr>
					<tr>
						<td>Speed builds</td>
						<td>Thursday</td>
						<td>18:00</td>
						<td>
							<a href="http://www.zoom.com" target="_blank">
								Zoom
							</a>
						</td>
					</tr>
					<tr>
						<td>Swapping of LEGO Minifigures</td>
						<td>Saturday</td>
						<td>17:00</td>
						<td>WhatsApp</td>
					</tr>
				</tbody>
			</table>

			<p>
				Tune in for more events that we will be running in the future!
			</p>
		</main>
<%-include('./include/fotter.ejs')%>